In [5]:
# Name : Neeraja Prabhudesai
# Enrollment no.- 0006

In [6]:
# bag of words

In [7]:
'''# before actually using the data it is required to prepare the data
data which is not in numerical formate is not interpreted by machine
total 4 methods to convert data to numerical format
3 methods - data cleansing / scrubbing - applicable for ML
1 method - for deep learning''';

In [8]:
sent = ' the red dog cat cat eats dog dog eats food red cat eats'
set(sent.split())

{'cat', 'dog', 'eats', 'food', 'red', 'the'}

In [9]:
from nltk.tokenize import word_tokenize
import pandas as pd

In [10]:
sentence_1 = 'it was a good practice for us'
sentence_2 = 'it was also good to know about it'
sentence_3 = 'for all of us they have done a good practice'

In [11]:
# find the list of distinct words prsent in these three sentences
all_sents = ['it was a good practice for us it was also good to know about it for all of us they have done a good practice']
for sentences in all_sents:
    
    print(set(sentences.split()))

{'they', 'for', 'it', 'of', 'also', 'all', 'was', 'practice', 'know', 'to', 'have', 'a', 'done', 'about', 'us', 'good'}

In [12]:
words = sentence_1.split() + sentence_2.split() + sentence_3.split()
set(words)
#split method considers only space to split it

{'a',
 'about',
 'all',
 'also',
 'done',
 'for',
 'good',
 'have',
 'it',
 'know',
 'of',
 'practice',
 'they',
 'to',
 'us',
 'was'}

In [13]:
sentence_1 = 'it was a good practice for us.'
sentence_2 = 'it was also good to know about it.'
sentence_3 = 'for all of us they have done a good practice.'
words = word_tokenize(sentence_1.lower()) + word_tokenize(sentence_2.lower()) + word_tokenize(sentence_3.lower())

# for removing the dot or punctuation symbol, tokenization is imp or best method

In [14]:
tokens = set(words)

In [15]:
tokens

{'.',
 'a',
 'about',
 'all',
 'also',
 'done',
 'for',
 'good',
 'have',
 'it',
 'know',
 'of',
 'practice',
 'they',
 'to',
 'us',
 'was'}

In [16]:
df = pd.DataFrame(columns = list(tokens), index=[1,2,3])
df

,they,for,it,of,also,all,was,practice,know,to,have,a,done,about,us,good,.
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
tokens1 = word_tokenize(sentence_1.lower())
tokens2 = word_tokenize(sentence_2.lower())
tokens3 = word_tokenize(sentence_3.lower())

In [18]:
tokens1,tokens2,tokens3

(['it', 'was', 'a', 'good', 'practice', 'for', 'us', '.'],
 ['it', 'was', 'also', 'good', 'to', 'know', 'about', 'it', '.'],
 ['for',
  'all',
  'of',
  'us',
  'they',
  'have',
  'done',
  'a',
  'good',
  'practice',
  '.'])

In [19]:
counts1 = [tokens1.count(x) for x in df.columns]
counts2 = [tokens2.count(x) for x in df.columns]
counts3 = [tokens3.count(x) for x in df.columns]
#column names are taken one by one and then the frequency is counted

In [20]:
counts1, counts2, counts3

([0, 1, 1, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 1, 1],
 [0, 0, 2, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 1, 1],
 [1, 1, 0, 1, 0, 1, 0, 1, 0, 0, 1, 1, 1, 0, 1, 1, 1])

In [21]:
df

,they,for,it,of,also,all,was,practice,know,to,have,a,done,about,us,good,.
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [22]:
df.iloc[0,:]= counts1
df.iloc[1,:]= counts2
df.iloc[2,:]= counts3

In [23]:
df

  they for it of also all was practice know to have  a done about us good  .
1    0   1  1  0    0   0   1        1    0  0    0  1    0     0  1    1  1
2    0   0  2  0    1   0   1        0    1  1    0  0    0     1  0    1  1
3    1   1  0  1    0   1   0        1    0  0    1  1    1     0  1    1  1

In [24]:
# bag of words

In [25]:
#predefined library functions
from sklearn.feature_extraction.text import CountVectorizer

In [26]:
# create the object
cv = CountVectorizer()

In [27]:
#apply the BOW method - Bag of words method
mydata = cv.fit_transform([sentence_1,sentence_2,sentence_3])
mydata.toarray()

array([[0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 1, 0, 0, 1, 1],
       [1, 0, 1, 0, 0, 1, 0, 2, 1, 0, 0, 0, 1, 0, 1],
       [0, 1, 0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 0, 1, 0]], dtype=int64)

In [28]:
cv.get_feature_names_out()
#words inside it can be retrieved,  punctuations are deleted

array(['about', 'all', 'also', 'done', 'for', 'good', 'have', 'it',
       'know', 'of', 'practice', 'they', 'to', 'us', 'was'], dtype=object)

In [29]:
df = pd.DataFrame(data=mydata.toarray(),
                 columns=cv.get_feature_names_out())

In [30]:
df

,about,all,also,done,for,good,have,it,know,of,practice,they,to,us,was
0,0,0,0,0,1,1,0,1,0,0,1,0,0,1,1
1,1,0,1,0,0,1,0,2,1,0,0,0,1,0,1
2,0,1,0,1,1,1,1,0,0,1,1,1,0,1,0

In [31]:
# N- grams

In [32]:
# create the object
cv = CountVectorizer(ngram_range=(1,2))

In [33]:
# apply the bow - n gram method
mydata = cv.fit_transform([sentence_1, sentence_2, sentence_3])

In [34]:
cv.get_feature_names_out()

array(['about', 'about it', 'all', 'all of', 'also', 'also good', 'done',
       'done good', 'for', 'for all', 'for us', 'good', 'good practice',
       'good to', 'have', 'have done', 'it', 'it was', 'know',
       'know about', 'of', 'of us', 'practice', 'practice for', 'they',
       'they have', 'to', 'to know', 'us', 'us they', 'was', 'was also',
       'was good'], dtype=object)

In [35]:
df = pd.DataFrame(data=mydata.toarray(),
                 columns=cv.get_feature_names_out())
df

,about,about it,all,all of,also,also good,done,done good,for,for all,...,practice for,they,they have,to,to know,us,us they,was,was also,was good
0,0,0,0,0,0,0,0,0,1,0,...,1,0,0,0,0,1,0,1,0,1
1,1,1,0,0,1,1,0,0,0,0,...,0,0,0,1,1,0,0,1,1,0
2,0,0,1,1,0,0,1,1,1,1,...,0,1,1,0,0,1,1,0,0,0

In [36]:
#TF IDF Vectorizer - 20/05/2024

In [37]:
#import the class
from sklearn.feature_extraction.text import TfidfVectorizer

In [38]:
#Create the Object
tfidf = TfidfVectorizer()

In [40]:
#apply the algorithm
newdata = tfidf.fit_transform([sentence_1,sentence_2,sentence_3])

In [41]:
newdata.toarray()

array([[0.        , 0.        , 0.        , 0.        , 0.42246056,
        0.32807831, 0.        , 0.42246056, 0.        , 0.        ,
        0.42246056, 0.        , 0.        , 0.42246056, 0.42246056],
       [0.37162591, 0.        , 0.37162591, 0.        , 0.        ,
        0.21948825, 0.        , 0.56526217, 0.37162591, 0.        ,
        0.        , 0.        , 0.37162591, 0.        , 0.28263108],
       [0.        , 0.37571621, 0.        , 0.37571621, 0.28574186,
        0.22190405, 0.37571621, 0.        , 0.        , 0.37571621,
        0.28574186, 0.37571621, 0.        , 0.28574186, 0.        ]])

In [42]:
tfidf.get_feature_names_out()

array(['about', 'all', 'also', 'done', 'for', 'good', 'have', 'it',
       'know', 'of', 'practice', 'they', 'to', 'us', 'was'], dtype=object)

In [44]:
df = pd.DataFrame(data=newdata.toarray(),
                 columns=tfidf.get_feature_names_out())

In [45]:
df

,about,all,also,done,for,good,have,it,know,of,practice,they,to,us,was
0,0.000000,0.000000,0.000000,0.000000,0.422461,0.328078,0.000000,0.422461,0.000000,0.000000,0.422461,0.000000,0.000000,0.422461,0.422461
1,0.371626,0.000000,0.371626,0.000000,0.000000,0.219488,0.000000,0.565262,0.371626,0.000000,0.000000,0.000000,0.371626,0.000000,0.282631
2,0.000000,0.375716,0.000000,0.375716,0.285742,0.221904,0.375716,0.000000,0.000000,0.375716,0.285742,0.375716,0.000000,0.285742,0.000000